body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  

  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
  }

  .emoji a {
    margin-top: auto;
    display: flex; 
    justify-content: flex-end; 
  }

  .emoji a {
    display: inline-block;
    width: 100%; 
    box-sizing: border-box; 
    background-color: #781BAA;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-radius: 8px;
    margin-top: auto;
  }
  
  .icon {
    padding: 100px;
    font-size: 4rem;
  }

  main {
    display: grid;
    height: 100%;
    gap: 20px;
    padding: 20px;
  }
  
  .emojis {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
  }

  .emoji {
  flex: 1;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

  .emojis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
   
  .emoji {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .emoji h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
 
  
  .emoji a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }